* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color:var(--mantine-color-primaryDarkBlue-9) !important ;
}

*::-webkit-scrollbar {
  display: none;
}
