name: stage-deploy
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  deploy-stage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          aws-region: ${{secrets.AWS_REGION}}
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - uses: docker/setup-buildx-action@v1
      - uses: docker/build-push-action@v2
        with:
          push: true
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{steps.login-ecr.outputs.registry}}/sales_jobverse-backend-stage:latest
          file: ./apps/backend/Dockerfile
      - name: deploy to cluster
        uses: kodermax/kubectl-aws-eks@master
        env:
          KUBE_CONFIG_DATA: ${{secrets.KUBE_CONFIG_DATA_PROD}}
          ECR_REGISTRY: ${{steps.login-ecr.outputs.registry}}
          ECR_REPOSITORY: sales_jobverse-backend-stage
          IMAGE_TAG: latest
        with:
          args: apply -f ./apps/backend/stage-config.yml -n  sales-jobverse-stage
      - name: restart cluster
        uses: kodermax/kubectl-aws-eks@master
        env:
          KUBE_CONFIG_DATA: ${{secrets.KUBE_CONFIG_DATA_PROD}}
          ECR_REGISTRY: ${{steps.login-ecr.outputs.registry}}
          ECR_REPOSITORY: sales_jobverse-backend-stage
          IMAGE_TAG: latest
        with:
          args: rollout restart deployment  sales-jobverse-stage-backend -n  sales-jobverse-stage
